* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
